@import 'tailwindcss';

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family:
    'Inter Variable',
    -apple-system,
    'Segoe UI',
    sans-serif;
  color: #ffffff;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
