@import 'tailwindcss';

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.dark body {
  background-color: #000000;
  color: #ffffff;
}

.root {
  isolation: isolate;
}
